apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "auto-devspaces"
  namespace: "openshift-gitops"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: rhas
  revisionHistoryLimit: 3
  source:
    path: manifests/devspaces
    repoURL: "{{ platform_gitops_repo_url }}"
    targetRevision: "{{ platform_gitops_repo_revision }}"
  destination:
    namespace: "{{ platform_devspaces_namespace }}"
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
